<div class="jumbotron">
	<h1 class="display-4" >
		GetNextId.com
	</h1>
	<p class="mt-3">
		Global unique counters for your infrastructure.
	</p>

	<p>Use getnextid.com to increment your build numbers etc.</p>

	<%= render partial: 'counters/info', locals: {counter_name: 'your.counter.name', counter_password: 'YOUR_PASSWORD'} %>

	<p class="mt-3">Your counters are protected by passwords.</p>

</div>


<style>
	h1 {
		font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	}
</style>
