<div id="footer">
	&copy; AMSOFT 2018 &middot;
	<%= link_to 'eedback',  'https://github.com/mgz/getnextid.com', target: '_blank'%>
</div>

<% if flash[:js] %>
	<script type="text/javascript" charset="utf-8">
		<%== flash[:js] %>
	</script>
<% end %>
