<nav class="navbar navbar-expand navbar-dark bg-dark mb-3" id="main_navbar">

	<a class="navbar-brand" href="/">
		<%#= image_tag '/images/design/navbar-logo.png', alt: 'Logo' %>
		<span class="padded_left">get-next-id</span>
	</a>



</nav>
