<nav class="navbar navbar-expand navbar-dark bg-dark mb-3" id="main_navbar">

	<a class="navbar-brand" href="/">
		<%#= image_tag '/images/design/navbar-logo.png', alt: 'Logo' %>
		<span class="padded_left monospaced">GetNextId.com</span>
	</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">

		</ul>
	</div>
	<%= link_to 'Create counter', '/counters/new', class: 'btn btn-success' unless action_name == 'new' && controller_name == 'counters'%>

</nav>
